<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964097033514-eu7s6rc9io18jdv1kchhkuke2ucts8qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964097033514-eu7s6rc9io18jdv1kchhkuke2ucts8qc</string>
	<key>API_KEY</key>
	<string>AIzaSyDVuXSKI-bXOiTeOQGcSIXQ31muuqByOG0</string>
	<key>GCM_SENDER_ID</key>
	<string>964097033514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.hiper.hiper</string>
	<key>PROJECT_ID</key>
	<string>hiperapp-27e40</string>
	<key>STORAGE_BUCKET</key>
	<string>hiperapp-27e40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964097033514:ios:5d8beb4ee9d26e1c340a53</string>
</dict>
</plist>